.git
.gitignore
.env
.env.*
.env.example
.env.docker.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/cache
bootstrap/cache/*
.ddev
docker-compose.yml
Dockerfile
README.md
.editorconfig
.phpunit.result.cache
tests
mariadb-11-data
redis-data
