# Folders
.git/
tests/
mariadb-11-data/
redis-data/
node_modules/
vendor/
storage/
bootstrap/cache/
.ddev/

#Files
.gitignore
.env
.env.*
.env.example
.env.docker.example
docker-compose.yml
Dockerfile
README.md
.editorconfig
.phpunit.result.cache
