root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.yml,*.yaml}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 4

shell_variant      = bash
binary_next_line   = true
case-indent 	   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true
function_next_line = true
simplify           = true
space-redirects    = true
