.bash_history
.bash_profile
.bashrc
.DS_Store
.env
.git-credentials
.gitconfig
/.composer/
/.idea
/.vagrant
/.vscode
/docker-compose/
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
