.bash_history
.bash_profile
.bashrc
.DS_Store
.env
.env.dottie-backup
.git-credentials
.gitconfig
/.composer/
/.idea
/.vagrant
/docker-compose-state/
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/docker
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
