
[submodule "tests/shell/bats"]
	path = tests/shell/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "tests/shell/test_helper/bats-support"]
	path = tests/shell/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/shell/test_helper/bats-assert"]
	path = tests/shell/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
