# See: https://github.com/koalaman/shellcheck/blob/master/shellcheck.1.md#rc-files

source-path=SCRIPTDIR

# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# Turn on warnings for unquoted variables with safe values
enable=quote-safe-variables

# Turn on warnings for unassigned uppercase variables
enable=check-unassigned-uppercase
