includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 0 #Larascan supports 0-9. 10 is not required

    paths:
        - app/
        - routes/
        - tests/

    excludePaths:
        - bootstrap/cache/*
        - storage/
        - vendor/

    # Laravel-specific analysis
    databaseMigrationsPath:
        - database/migrations
    configDirectories:
        - config
    translationDirectories:
        - lang

    # Feature checks
    noModelMake: true
    noUnnecessaryCollectionCall: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true
    checkModelMethodVisibility: true
    checkAuthCallsWhenInRequestScope: true
    parseModelCastsMethod: true
    enableMigrationCache: true
    checkMissingTranslations: false

    # Ignore intentional patterns
    ignoreErrors:
        - '#Unsafe usage of new static#'

    reportUnmatchedIgnoredErrors: false
