.notification-page .list-group-item {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
}