.notification-page .list-group-item {
  border-inline-start: 0 !important;
  border-inline-end: 0 !important;
  border-bottom: 0 !important;
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
