span.twitter-typeahead {

  width: 100%;

  .tt-menu {
    @extend .dropdown-menu;
    width: 100%;
    max-height: 365px;
    overflow-y: auto;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor,
  .tt-suggestion:active
  {
    color: #212529;
    background: #fafafa;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }
  }
}