@import "lib/nucleo";
@import "lib/nucleo-svg";
@import "lib/argon";

body, button, input, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
                 Roboto,Helvetica,Arial,sans-serif;
}

.title {
	p.h3,
	h3 {
		font-size: 30px;
	}
}

.nav-pills .nav-item {
    padding-right: 1rem;
}

.list-fade-bottom {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
		width: 100%;
		height: 10em;
	}
}
