
// Fonts
@import "fonts";
@import "lib/fontawesome";

// Variables
@import "dark";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "custom";

.text-dark {
    color: #ADAFAE !important;
}

.border-left {
    background: #ADAFAE !important;
}

.bg-white,
.postPresenterContainer,
.postComponent .card-body.flex-grow-0.py-1,
.postComponent .reactions,
.postComponent .status-comments,
.navbar-laravel {
	background: #282828 !important;
}

.postComponent .border-left {
	border-left: 0 !important;
}

.postComponent .card-header {
	border-radius: 0;
}

input,
textarea {
	color: #ccc !important;
	background: #191919 !important;
}

.far, .fas,
.navbar-laravel .navbar-brand span,
.navbar-laravel .nav-link .d-md-block,
.navbar-laravel .nav-link.dropdown-toggle .far,
.navbar-laravel .nav-link.dropdown-toggle::after {
	color: #ADAFAE !important;
}

.form-control.search-form-input {
	background: #060606 !important;
	color: #888 !important;
}

@import "components/filters";

@import "components/typeahead";

@import "components/notifications";

@import '~bootstrap-vue/dist/bootstrap-vue.css';

@import '~plyr/dist/plyr.css';

@import '~vue-loading-overlay/dist/vue-loading.css';
