/*
	red
*/
.bg-moment-passion {
	background: #e53935;
	background: -webkit-linear-gradient(to left, #e35d5b, #e53935);
	background: linear-gradient(to left, #e35d5b, #e53935);
}

/*
	teal/purple
*/
.bg-moment-azure {
	background: #7F7FD5;
	background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
}

/*
	blue
*/
.bg-moment-reef {
	background: #00d2ff;
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
	background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

/*
	lush green
*/
.bg-moment-lush {
	background: #56ab2f;
	background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
	background: linear-gradient(to left, #a8e063, #56ab2f);
}

/*
	neon green
*/
.bg-moment-neon {
	background: #B3FFAB;
	background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
	background: linear-gradient(to right, #12FFF7, #B3FFAB);
}

/*
	orange
*/
.bg-moment-flare {
	background: #f12711;
	background: -webkit-linear-gradient(to left, #f5af19, #f12711);
	background: linear-gradient(to left, #f5af19, #f12711);
}

/*
	orange/pink
*/
	.bg-moment-morning {
	background: #FF5F6D;
	background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);
	background: linear-gradient(to left, #FFC371, #FF5F6D);
}

/*
	pink
*/
.bg-moment-tranquil {
	background: #EECDA3;
	background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
	background: linear-gradient(to right, #EF629F, #EECDA3);
}

/*
	purple
*/
.bg-moment-mauve {
	background: #42275a;
	background: -webkit-linear-gradient(to left, #734b6d, #42275a);
	background: linear-gradient(to left, #734b6d, #42275a);
}

/*
	purple
*/
.bg-moment-argon {
	background: #03001e;
	background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);
	background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);
}

/*
	dark blue
*/
.bg-moment-royal {
	background: #141E30;
	background: -webkit-linear-gradient(to left, #243B55, #141E30);
	background: linear-gradient(to left, #243B55, #141E30);
}
