
#text-primary-form{
    font-size: 18px;
    text-align: center;
}
#title-portal{
    font-size: 40px;
}
#card-form-login{
    border: none !important;
    background-color: unset !important;
    box-shadow: none !important;

}
#card-form-login a{
 color: #707070 !important;
}
#logoandtext-contra span{
    font-size: 1rem;
    margin-left: unset;
}
#email, #password{
    border-radius: 25px;
    padding: 7%;
}
#btn-login{
    border-radius: 25px;
    width: 65%;
    margin: auto;
    height: 41px;
}
.div-total{
    padding-top: unset !important;
}
.img-left-form{
    width: 124%;
}
.container-1{
  background-size: cover;
  background-repeat: no-repeat;
    background-image: url("/img/Tela-01-Background.png");
}

@media (max-width: 1024px){
.container-1{
    background-size: 85em;
}
.pt-md-5, .py-md-5{
    padding-top: unset !important;
}
}

@media (max-width: 768px){
    .container-1{
        background-image: unset;
    }
    .section-espaco-top{
        height: 1vh !important;
    }
    .offset-md-1 {
       margin-left: 29% !important;
       max-width: 100.666667% !important; 
}
}
@media (min-width: 769px){
    .offset-md-1 {
        margin-left: 64% !important;
        margin-top: -8% !important;
    }
    
}
@media (max-width: 600px){
    .offset-md-1 {
        margin-left: unset !important;
    }
}



//section 03
.section-03-l01 h1{
    color: #abadac;
}
.section-03-l01 p{
    color: #abadac;;
    margin-left: 15em;
    margin-top: -4em;
}
#img-depoimento{
    float: right;
    margin-top: -16em;
    margin-left: -7em;
    width: 16em;
    height: 16em;
}
#img-depoimento-02{
    float: left;
    margin-left: -7em;
    width: 16em;
    height: 16em;
}
.titulo-name p{
    margin-bottom: -19px;
    margin-left: 1.5em;
}
.titulo-name{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #abadac;
    padding: 2%;
    font-size: 26px;
    margin-left: 12%;
    max-width: 385px;
    padding-top: 0.4em;
}
.titulo-name span{
    color: #6b1ce9;
    font-size: 14px;
    text-transform: lowercase;
    line-height: -1.4;
    margin-left: 119px;
}
.depoimento-top{
    margin-left: -55%;
    margin-top: -29%;
}
.text-depoimento{
    background-color: #6b1ce9;
    max-width: 470px;
    padding: 5px;
    margin-left: -3px;
    color: #fff;
    margin-top: -2.5%;
    height: 11em;
}
.text-depoimento-bottom{
    background-color: #6b1ce9;
    max-width: 442px;
    padding: 6px;
    color: #fff;
    height: 9.5em;
    margin-left: 9em;
}
.text-depoimento p{
    padding:17px;
}
.text-depoimento-bottom p{
    padding: 6px;
    margin-bottom: -1em;
}

.titulo-name-02{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #abadac;
    padding: 0.2em;
    font-size: 26px;
    max-width: 338px;
    margin-left: -7px;
    margin-top: 1em;
}
.titulo-name-02 span{
    color: #6b1ce9;
    font-size: 14px;
    text-transform: lowercase;
    line-height: -1.4;
    margin-left: 8px;
    padding: 6px;
    margin-bottom: -20px !important;
}
.text-depoimento-bottom p{
    padding: 14px;
    margin-bottom: -1em;
}
.umanovaforma{
    color: #9c9698;
    font-size: 15px;
    line-height: 1;
    margin-left: 0.5em;
}
.a-suarede{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: unset !important;
    margin-top: -7em;
    margin-left: 0.5em;
}
.nova-forma-div{
    margin-left: 6em;
    margin-top: -13em;
}
#forma-a{
    width: 23em;
    margin-left: -10em;
}
.nova-oportunidade{
    margin-left: -35em;
    margin-top: 7em;
}
.nova-oportunidade h1{
    font-size: 2.7em;
    font-weight: bold;
    
}
#btn-cadastro{
    border-radius: 25px;
    width: 23%;
    height: 41px;
}
.img-logo-photo{
    background-size: cover;
    background-repeat: no-repeat;
      background-image: url("/img/logo-padrao.png");
      margin-top: -12em;
      height: 43em;
      margin-right: -10em;
      margin-top: -17em;
}
#all-logos{
    max-width: 23em;
    margin-top: -13em;
}
#foto-bg{
    max-width: 40em;
}